.container{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}

#grid_column{
    float:left;
}

#grid_column canvas {
    background: #f1f1f1;
}

#command_column{
    width: 320px;
    padding: 10px;
    float: left;
    justify-content: center;
    align-items: center; 
    font-family: Helvetica, Arial, sans-serif;
}

#score{
    border: solid 1px black;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#buttons img{
    width: 30px;
    height: 30px;

}

#left img{
    transform: scaleX(-1);
}

#down img{
    transform: rotate(90deg);
}

button{
    margin: 5px;
    justify-content: center;
    align-items: center; 
}
