.container{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    background-color: darkturquoise;
}

body {
    background-color: darkturquoise;
}

#grid_column{
    float:left;
    padding: 10px;
}

#grid_column canvas {
    border: solid 3px black;
    background: #f1f1f1;
    
}

#command_column{
    background-color: turquoise;
    width: 320px;
    padding: 10px;
    float: left;
    justify-content: center;
    align-items: center; 
    font-family: Helvetica, Arial, sans-serif;
}

#score{
    /* border: solid 1px black; */
    margin-top: 135px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#buttons img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

#left img{
    transform: scaleX(-1);
}

#down img{
    transform: rotate(90deg);
}

button{
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color: limegreen ;
    border-radius: 5px 5px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ADFF2F;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }

button:active {
    background-color: #228B22;
    box-shadow: 0 7px #006400;
    transform: translateY(4px);
}
