.container{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}

#grid_column{
    float:left;
}

#grid_column canvas {
    background: #f1f1f1;
}

#command_column{
    padding: 10px;
    float: left;
    justify-content: center;
    align-items: center; 
}

#score{
    border: solid 1px black;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

button{
    margin: 5px;
}
